In [1]:
# Dependencies and Setup
import pandas as pd

# Load and read csv file
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_data["SN"].value_counts())

number_of_players = pd.DataFrame({"Total Players":[player_count]})
print(number_of_players.to_string(index=False))

 Total Players
           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of unique items
unique_items = len(purchase_data["Item Name"].unique())

# Average purchase price
avg_price = purchase_data["Price"].mean()

#Total number of purchases
total_purchases = len(purchase_data["Purchase ID"])

# Total revenue
total_revenue = purchase_data["Price"].sum() 

purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                 "Avg Price": avg_price,
                                 "Total Number of Purchases": total_purchases,
                                 "Total Revenue": total_revenue})

# Formatting
purchase_analysis["Avg Price"] = purchase_analysis["Avg Price"].map("${:.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:.2f}".format)
purchase_analysis

   Number of Unique Items Avg Price  Total Number of Purchases Total Revenue
0                     179     $3.05                        780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Gender Demographics
gender_stats = purchase_data.groupby("Gender")

# Count the total of screen names "SN" by gender
TCG = gender_stats.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = (TCG / player_count) * 100

# Create data frame
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players,
                                    "Total Count": TCG})

# Remove index
gender_demographics.index.name = None

# Format values
gender_demographics.sort_values(["Total Count"], 
                                ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Purchasing Analysis (Gender)

# Purchase Count
purchase_count = gender_stats["Purchase ID"].count()

# Average purchase price
avg_purchase_price = gender_stats["Price"].mean()

# Average purchase total 
avg_purchase_total = gender_stats["Price"].sum()

# Average purchase total by gender divivded by purchase count 
avg_purchase_per_person = avg_purchase_total/TCG

# Create the data frame
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Avg Purchase Price": avg_purchase_price,
                                    "Avg Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Add "Gender"
gender_demographics.index.name = "Gender"

# Format table
gender_demographics.style.format({"Avg Purchase Value":"${:,.2f}",
                                  "Avg Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Age Demographics

# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sort into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create data frame with "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age
total_count_age = age_grouped["SN"].nunique()

# Calculate percentages
percentage_by_age = (total_count_age/player_count) * 100

# Create data frame
age_demographics = pd.DataFrame({"Total Count": total_count_age,
                                 "Percentage of Players": percentage_by_age})

# Format data frame with no index
age_demographics.index.name = None

# Format percentages
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Purchasing Analysis By Age Group

# Purchases
purchase_count_age = age_grouped["Purchase ID"].count()

# Average purchase price 
avg_purchase_price_age = age_grouped["Price"].mean()

# Total purchase value 
total_purchase_value = age_grouped["Price"].sum()

# Average purchase per person 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Avg Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Avg Purchase $ per Person": avg_purchase_per_person_age})

# Format data frame with no index
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Avg Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Purchase $ per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Top Spenders

# Group purchase data by screen names
purchase_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = purchase_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = purchase_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = purchase_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Avg Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], 
                                              ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Avg Purchase Total":"${:,.2f}",
                                 "Avg Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Most Popular Items

# New data frame 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data
item_stats = items.groupby(["Item ID","Item Name"])

# Number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Item price
item_price = purchase_value/purchase_count_item

# Data frame with values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Top spenders and top 5 items in order
popular_formatted = most_popular_items.sort_values(["Purchase Count"], 
                                                   ascending=False).head()

# Format
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Most Profitable Items
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Currency style format
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [11]:
# Analysis: Heroes of Pymoli:

    # 1. At an average price of $3.05 per game, clearly the driving force behind revenue would be volume. Goal is
    #    to get as many players as possible to part with $3.
    # 2. Male buyers outnumber females nearly 6 to 1.
    # 3. Most frequent buyers are players in the 20-24 age group.
    # 4. Only 7% of total players are older than 34.